.messages-list{
    list-style: none;
    margin: 0;
    padding: 0;
}
.messages-list__message{
    overflow: hidden;
    padding: 15px;
    border: 1px solid #e7e7e7;
    border-radius: 3px;
    margin-bottom: 15px;
}

.message-image{
    margin:0 15px 15px 0;
    max-width: 250px;
    height: auto;
}
.navbar-nav li.active a{
    background-color: #00b3ee;
    color:white;
    font-weight: bold;
}