<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ul class="messages-list">
                <li class="messages-list__message" ng-repeat="message in allMessages track by $index" bind-event on-message-expire="removeMessage(message)">
                    <div class="row">
                        <div class="col-md-12">
                            <img class="message-image pull-left" ng-src="{{resolveMessageImageType(message)}}">
                            <span class="message-text">{{message.text}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <span class="pull-right">Message lifetime: <lifetime value="message.lifetime"></lifetime> sec.</span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="btn btn-primary pull-right" ng-class="{disabled: allMessages.length}" ng-click="getMessages('api/messages.json')">Reload messages</div>
        </div>
    </div>
</div>
