<header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse">
            <ul class="nav navbar-nav">
                <li ng-repeat="item in menuItems" ng-class="{active: item.hash == activePage}">
                    <a href="{{item.hash}}"  ng-click="setActivePage($event)">{{item.title}}</a>
                </li>
            </ul>
        </nav>
    </div>
</header>